<div class="cart-box">
    <h1 class="text-danger">Shopping Cart</h1>
  <div class="cardhead">
    <p class="lead">You have <label class="text-danger fw-bold"> {{datepro.length}} </label> Item in your cart</p>
    <button class="btn btn-danger cart-header text-end " (click)="cleardate()">Clear Shopping Cart</button>
  </div>
  <table class="table table-striped table-responsive" >
    <thead>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>price</th>
            <th style="width: 25%;">Quantity </th>
            <th>total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Item of datepro; index as i">
            <td><img [src]="Item.data.image" alt=""></td>
            <td>{{Item.data.title}}</td>
            <td>{{Item.data.price}} L.E</td>
            <td>
                <div class="quantity d-flex justify-content-between">
                    <button class="btn btn-dark" (click)="mintotol(i)">-</button>
                    <input class="form-control" type="number" min = "1" [value]="Item.quantity" [(ngModel)]="Item.quantity"
                    (change)="resualt()">
                    <button class="btn btn-dark" (click)="addtotol(i)">+</button>
                </div>
            </td>
            <td>{{Item.data.price * Item.quantity}} L.E</td>
            <td>
                <button class="btn btn-danger" (click)="deletecart(i)">Delete</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Total : {{total}} L.E</th>
            <th><button class="btn btn-success" (click)="sendcart()">Order now</button></th>
        </tr>
    </tfoot>
  </table>
</div>
<div class="alert alert-success" *ngIf="sucess" role="alert">well Done</div>
