img {
  max-width: 100%;
 height: 200px;
 text-align: center;

}
.product-info {
  margin-top: 15px;
}
ul {
  margin-left:10%;
}
ul li {
  margin-bottom: 20px;
}
ul li span {
  font-weight: bold;
  margin-right: 10px;
}
